.predictionsContainer {
    width: 664px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
}

.predictionsContainer.mini {
    width: 400px;
    position: absolute;
    top: 55px;
    border: solid 1px rgba(0,0,0,0.2);
    z-index: 999;
}
