.predictionItem {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 40px);
    position: relative;
    box-sizing: border-box;
    padding: 16px 0px;
    overflow: hidden;
}

.predictionItem > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: none;
    color: rgb(10, 10, 20);
    margin: 0px;
}

.predictionItem > span > a {
    text-decoration: none;
    color: inherit;
}
