ul.predictionsList {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

li.predictionsListLi {
    cursor: pointer;
    color: rgb(167, 166, 171);
    display: block;
    height: 100%;
}

li.predictionsListLi:hover {
    background-color: rgb(241, 241, 244);
}
