.filterPopover {
    min-width: 109px;
    position: absolute;
    transition: opacity .2s ease-out;
    padding: 0;
    z-index: 999;
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,.35);
    top: 50px;
    border: none;
}

.filterPopoverArrow {
    border-style: solid;
    border-width: 0 8px 8px;
    display: none;
    position: absolute;
    top: -8px;
    left: 54px;
    right: auto;
    content: '';
    border-color: transparent transparent #fff;
    visiblility: none;
}

.filterPopoverArrow:nth-child(n+2) {
    right: 54px;
    left: auto;
}

.filterPopoverActionWrapper {
    background-color: #006AFF;
    padding: 10px;
}

.filterActionButton {
    background: #FFF;
    color: #006AFF;
    font-weight: 600;
    font-size: 14px;
    -ms-flex-order: 2;
    order: 2;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
