.listingContainer {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 10px;
    border-top: 1px solid #f0f0f0;
    overflow-y: scroll;
    width: 369px;
}

.listingContainerResultsCounter {
    margin-bottom: 10px;
}
