.listingContainer {
    height: 100%;
    width: 369px;
    display: flex;
    flex-flow: column;
    border-top: 1px solid #f0f0f0;
    position: relative;
}

.listingContainerResultsCounter {
    margin-bottom: 10px;
}
