.listingContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    border-top: 1px solid #f0f0f0;
    position: relative;
    background: white;
}

.listingContainerResultsCounter {
    margin-bottom: 10px;
}

.listingHeader {
    width: 100%;
    background: rgba(0,0,0,0.05);
    z-index: 99;
}

@media (min-width: 900px) {
    .listingContainer {
        min-width: 356px;
        max-width: 356px;
    }
}

@media (min-width: 1200px) {
    .listingContainer {
        min-width: 700px;
        max-width: 700px;
    }
}
