.listingDetail {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.listingDetailBody {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.listingDetailHeader {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}

.listingAddress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.listingAddress .listingAddressStreet {
    font-weight: 600;
    font-size: 1rem;
}

.image-gallery {
    width: 100%;
}

.image-gallery-slide {
    background-color: #333;
    width: 100%;
    height: 441px;
    display: flex;
    justify-content: center;
    align-items: center;
}
