.listingList {
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 22px;
}

@media (max-width: 900px) {
    .listingList {
        position: fixed;
        left: 0;
        right: 0;
        top: 132px;
    }
}
