.homePage {
    padding: 20vh 0 10vh 0;
    text-align: center;
}

.homePage > h1 {
    font-weight: 600;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0px;
    color: #fff;
    text-shadow: 2px 2px #000;
}
