header {
    height: 80px;
    position: relative;
    background-color: #fff;
}

.header {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    position: static;
    z-index: 1000;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    border: none;
    padding-right: 24px;
    overflow: visible;
    height: 80px;
}

h1.temporaryTitle {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.temporaryTitle > a {
    text-decoration: none;
    color: inherit;
}
