.filterInputTitle {
    margin-bottom: 10px;
}

.pillList {
    display: flex;
    flex-direction: row;
}

.pill {
    display: inline-block;
    background-color: #fff;
    border: solid 1px #A7A6AB;
    border-left: none;
    padding: 10px 15px;
    cursor: pointer;
}

.pill:hover {
    background-color: rgba(0,0,0,0.05);
}

.pill.selected {
    background-color: #006AFF;
    border-color: #006AFF;
    color: #fff;
}

.pill:first-child {
    border-left: solid 1px #A7A6AB;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pill:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
