html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif;
    font-size: 93.75%;
    overflow: hidden;
}

.AppBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyContent {
    padding: 10vh 0;
    color: #fff;
}

.bodyContent > h1 {
    text-align: center;
    text-shadow: -1px 0 #2a2a33, 0 1px #2a2a33, 1px 0 #2a2a33, 0 -1px #2a2a33;
}
