.mapMarker {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    transform: translate(0,2px);
    box-shadow: 0 2px 2px rgba(0,0,0,.5);
    color: #fff;
    font-size: 10px;
    text-align: center;
    pointer-events: auto;
    background-color: rgb(0,0,0);
    position: relative;
}

.mapMarker:hover {
    background-color: rgba(255,0,0,0.7);
    z-index: 999;
}

.mapMarker.selected {
    background-color: rgba(255,0,0,0.7);
    z-index: 999;
}

.mapMarker .mapMarkerDetails {
    display: none;
    top: -10px;
    background-color: rgb(255,255,255);
    color: rgb(0,0,0);
    font-weight: 400;
    position: absolute;
    top: -20px;
    left: -20px;
    height: 15px;
    width: 50px;
    padding-top: 2px;
    text-align: center;
    border-radius: 3px;
    border: solid 1px rgba(0,0,0,0.7);
}

.mapMarker:hover .mapMarkerDetails {
    display: block;
}
